@model test.TEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intJobTitleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intJobTitleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intUserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.intEmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
