@model IEnumerable<test.TEmployee>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p style="margin-left: 25px">
    <button class="btn-success" onclick="location.href='@Url.Action("Create", "TEmployees")';return false;">
        <i class="fas fa-plus"></i>  Create New
    </button>
</p>

<div class="body-content">
    <div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("First Name")
                </th>
                <th>
                    @Html.DisplayName("Last Name")
                </th>
                <th>
                    @Html.DisplayName("Job Title")
                </th>
              
                <th style="white-space:nowrap">
                    @Html.DisplayName("View | Edit | Delete")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.strFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TJobTitle.strJobTitleDesc)
                    </td>

                    <td style="white-space:nowrap">
                        <a style="color:#5cb85c; padding-left: 15px" href='@Url.Action("Details", "TEmployees", new { id = item.intEmployeeID })' ;return false;>  <i class="far fa-eye"></i></a>
                        <a style="color:#f0ad4e; padding-left: 15px" href='@Url.Action("Edit", "TEmployees", new { id = item.intEmployeeID })' ;return false;>  <i class="fas fa-pencil-alt"></i></a>
                        <a style="color:red; padding-left: 15px" href='@Url.Action("Delete", "TEmployees", new { id = item.intEmployeeID })' ;return false;>  <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

