@model IEnumerable<test.TEmployee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayName("First Name")
		</th>
		<th>
			@Html.DisplayNameFor(model => model.strFirstName)
		</th>
		<th>
			@Html.DisplayName("Last Name")
			@Html.DisplayNameFor(model => model.strLastName)
		</th>
		<th>
			@Html.DisplayName("Job Title")
		</th>
		<th>
			@Html.DisplayNameFor(model => model.intJobTitleID)
		</th>
		<th>
			@Html.DisplayName("Active")
		</th>
		<th>
			@Html.DisplayName("User ID")
		</th>
		<th>
			@Html.DisplayNameFor(model => model.intUserID)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intJobTitleID)
        </td>>
        <td>
            @Html.DisplayFor(modelItem => item.intUserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.intEmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.intEmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.intEmployeeID })
        </td>
    </tr>
}

</table>
