@model test.Models.VisitServiceViewModel

<h2>Add Service</h2>

<div class="body-content" >
    <div class="form-horizontal" style="display: flex;">
        <div class="flex-container">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Service")
                    </th>
                    <th style="white-space:nowrap">
                        @Html.DisplayName("Add")
                    </th>
                </tr>

                @foreach (TService service in Model.Services)
                {
                    <tr>
                        <td>
                            @service.strServiceDesc
                        </td>
                        <td style="white-space:nowrap">
                            <a style="color:#5cb85c; padding-left: 10px" href='@Url.Action("AddPetService", "VisitServices", new { serviceID = service.intServiceID })' ;return false;>  <i class="far fa-plus"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="flex-container">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Service")
                    </th>
                    <th style="white-space:nowrap">
                        @Html.DisplayName("Delete")
                    </th>
                </tr>

                @foreach (TVisitService petService in Model.PetVisitServices)
                {
                    <tr>
                        <td>
                            @petService.TService.strServiceDesc
                        </td>
                        <td style="white-space:nowrap">
                            <a style="color:red; padding-left: 10px" href='@Url.Action("DeletePetService", "VisitServices", new { id = petService.intServiceID })' ;return false;>  <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
