@{
	ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>

	

</style>


<div class="body-content">

	<div class="btn-group">
		<button type="submit" class="btn" name="btnPets"><i class="fa fa-home"></i>
			@*<img src="~/Content/Images/pets.jpg" alt="Icon" />*@
			@Html.ActionLink("Index", "TPets")
		</button>
		<button type="submit" class="btn btn-info custom">
			<img src="~/Content/Images/clients.jpg" alt="Icon" />
			@Html.ActionLink("Index", "TOwners")
		</button>
		<button type="submit" class="btn btn-info custom">
			<img src="~/Content/Images/services.jpg" alt="Icon" />
			@Html.ActionLink("Index", "TServices")
		</button>
	</div>

	<br />
	<br />

	<div class="btn-group">
		<button type="submit" class="btn btn-info custom">
			<img src="~/Content/Images/medications.jpg" alt="Icon" />
			@Html.ActionLink("Medications", "Index", "TMedictions")
		</button>
		<button type="submit" class="btn btn-info custom">
			<img src="~/Content/Images/reports.jpg" alt="Icon" />
			@Html.ActionLink("Reports", "Index", "TReports")
		</button>
		<button type="submit" class="btn btn-info custom">
			<img src="~/Content/Images/employees.jpg" alt="Icon" />
			@Html.ActionLink("Employees", "Index", "TEmployees")
		</button>

	</div>

</div>

