@model IEnumerable<test.TService>

@{
    ViewBag.Title = "Index";
}

<h2>Services</h2>

<div style="display: flex;">
    <p style="margin-left: 30px">
        <button class="btn-primary" onclick="location.href='@Url.Action("Index","Home", new { id = Session["intUserID"].ToString() })';return false;">
            <i class="fas fa-arrow-left"></i>  Home
        </button>
    </p>

    <p style="margin-left: 25px">
        <button class="btn-success" onclick="location.href='@Url.Action("Create", "TServices")';return false;">
            <i class="fas fa-plus"></i>  Create New
        </button>
    </p>
</div>


<div class="body-content">
    <div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Service Description")
                </th>
                <th>
                    @Html.DisplayName("Service Type")
                </th>
                <th>
                    @Html.DisplayName("Price")
                </th>

                <th style="white-space:nowrap">
                    @Html.DisplayName("View | Edit | Delete")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.strServiceDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TServiceType.strServiceType)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.dblPrice)
                    </td>


                    <td style="white-space:nowrap">
                        <a style="color:#5cb85c; padding-left: 15px" href='@Url.Action("Details", "TServices", new { id = item.intServiceID })' ;return false;>  <i class="far fa-eye"></i></a>
                        <a style="color:#f0ad4e; padding-left: 15px" href='@Url.Action("Edit", "TServices", new { id = item.intServiceID })' ;return false;>  <i class="fas fa-pencil-alt"></i></a>
                        @if (item.TVisitServices.Count > 0)
                        {
                            <a style="color:dimgrey; padding-left: 15px" title="Cannot Delete. It is currently in use." return false;>  <i class="fas fa-trash-alt"></i></a>

                        }
                        else
                        {
                            <a style="color:red; padding-left: 15px" href='@Url.Action("Delete", "TServices", new { id = item.intServiceID })' ;return false;>  <i class="fas fa-trash-alt"></i></a>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

