@model IEnumerable<test.TService>


@{
    ViewBag.Title = "Index";
}

<h2>Services</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="body-content">

	<table class="table">
		<tr>
			<th>
				Description
			</th>
			<th>
				Type
			</th>
			<th>
				Price
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.strServiceDesc)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TServiceType.strServiceType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.dblPrice)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.intServiceID }) |
					@Html.ActionLink("Details", "Details", new { id = item.intServiceID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.intServiceID })
				</td>
			</tr>
		}

	</table>
	</div>
