@model test.Models.HealthExam

@{
    ViewBag.Title = "Create";
}

<h2 style="text-decoration: none; text-align: center; font-weight: 900; ">Health Exam</h2>
<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="body-content" style="max-height: 700px">
        <div class="form-horizontal">
            @*<h2 style="text-decoration: none; text-align: center; font-weight: 900; ">Health Exam</h2>*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="flex-container">
                <div class="flex-row">
                    <div class="form-group-inline">
                        @Html.LabelFor(model => model.dblWeight, "Weight", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.dblWeight, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dblWeight, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group-inline">
                        @Html.LabelFor(model => model.intHeartRate, "Heart Rate", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.intHeartRate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.intHeartRate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group-inline">
                        @Html.LabelFor(model => model.intCapillaryRefillTime, "CRT", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.intCapillaryRefillTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.intCapillaryRefillTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="display:inline-grid; width: 60%; margin: 3px;">
                        @Html.LabelFor(model => model.strNotes, "Notes", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.strNotes, new { htmlAttributes = new { @class = "form-control" }, style = "width: 910px; height: 170px;"});
                            @Html.ValidationMessageFor(model => model.strNotes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="flex-row">
                    <div class="form-group-inline">
                        @Html.LabelFor(model => model.dblTemperature, "Temperature", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.dblTemperature, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dblTemperature, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group-inline">
                        @Html.LabelFor(model => model.intRespRate, "Respiratory Rate", new { htmlAttributes = new { @class = "control-label col-md-5" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.intRespRate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.intRespRate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group-inline">
                        @Html.LabelFor(model => model.strMucousMembrane, "Mucous Membrane", new { htmlAttributes = new { @class = "control-label col-md-5" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.strMucousMembrane, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.strMucousMembrane, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Eyes</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isEyeNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div >
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isEyeNormal)
                            @Html.ValidationMessageFor(model => model.isEyeNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isDischarge, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div >
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isDischarge)
                            @Html.ValidationMessageFor(model => model.isDischarge, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isInfection, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div >
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isInfection)
                            @Html.ValidationMessageFor(model => model.isInfection, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isSclerosisLeft, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div >
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isSclerosisLeft)
                            @Html.ValidationMessageFor(model => model.isSclerosisLeft, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isSclerosisRight, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div >
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isSclerosisRight)
                            @Html.ValidationMessageFor(model => model.isSclerosisRight, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Ears</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isEarNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isEarNormal)
                            @Html.ValidationMessageFor(model => model.isEarNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isEarInflamed, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isEarInflamed)
                            @Html.ValidationMessageFor(model => model.isEarInflamed, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isEarTumor, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isEarTumor)
                            @Html.ValidationMessageFor(model => model.isEarTumor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isDirty, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isDirty)
                            @Html.ValidationMessageFor(model => model.isDirty, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isEarPainful, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isEarPainful)
                            @Html.ValidationMessageFor(model => model.isEarPainful, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isExcessiveHair, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isExcessiveHair)
                            @Html.ValidationMessageFor(model => model.isExcessiveHair, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Skin</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isSkinNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isSkinNormal)
                            @Html.ValidationMessageFor(model => model.isSkinNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isScaly, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isScaly)
                            @Html.ValidationMessageFor(model => model.isScaly, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isInfected, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isInfected)
                            @Html.ValidationMessageFor(model => model.isInfected, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isMatted, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isMatted)
                            @Html.ValidationMessageFor(model => model.isMatted, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isSkinScrape, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isSkinScrape)
                            @Html.ValidationMessageFor(model => model.isSkinScrape, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isPruritus, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isPruritus)
                            @Html.ValidationMessageFor(model => model.isPruritus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isHairLoss, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isHairLoss)
                            @Html.ValidationMessageFor(model => model.isHairLoss, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isMass, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isMass)
                            @Html.ValidationMessageFor(model => model.isMass, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isSkinParasites, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isSkinParasites)
                            @Html.ValidationMessageFor(model => model.isSkinParasites, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Mouth, Teeth, Gums</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isMouthNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isMouthNormal)
                            @Html.ValidationMessageFor(model => model.isMouthNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isMouthTumor, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isMouthTumor)
                            @Html.ValidationMessageFor(model => model.isMouthTumor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isGingivitis, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isGingivitis)
                            @Html.ValidationMessageFor(model => model.isGingivitis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isPeriodontitis, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isPeriodontitis)
                            @Html.ValidationMessageFor(model => model.isPeriodontitis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isTartarBuildup, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isTartarBuildup)
                            @Html.ValidationMessageFor(model => model.isTartarBuildup, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isLooseTeeth, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isLooseTeeth)
                            @Html.ValidationMessageFor(model => model.isLooseTeeth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isBiteOVerUnder, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isBiteOVerUnder)
                            @Html.ValidationMessageFor(model => model.isBiteOVerUnder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Nose and Throat</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isNoseThroatNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isNoseThroatNormal)
                            @Html.ValidationMessageFor(model => model.isNoseThroatNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isLargeLymphNodes, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isLargeLymphNodes)
                            @Html.ValidationMessageFor(model => model.isLargeLymphNodes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isInflamedThroat, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isInflamedThroat)
                            @Html.ValidationMessageFor(model => model.isInflamedThroat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isNasalDishcharge, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isNasalDishcharge)
                            @Html.ValidationMessageFor(model => model.isNasalDishcharge, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isInflamedTonsils, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isInflamedTonsils)
                            @Html.ValidationMessageFor(model => model.isInflamedTonsils, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>GastroIntestinal</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isGINormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isGINormal)
                            @Html.ValidationMessageFor(model => model.isGINormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isExcessiveGas, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isExcessiveGas)
                            @Html.ValidationMessageFor(model => model.isExcessiveGas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isGIParasites, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isGIParasites)
                            @Html.ValidationMessageFor(model => model.isGIParasites, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isAbnormalFeces, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isAbnormalFeces)
                            @Html.ValidationMessageFor(model => model.isAbnormalFeces, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isAnorexia, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isAnorexia)
                            @Html.ValidationMessageFor(model => model.isAnorexia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Neurological</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isNeurologicalNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isNeurologicalNormal)
                            @Html.ValidationMessageFor(model => model.isNeurologicalNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isPLRL, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isPLRL)
                            @Html.ValidationMessageFor(model => model.isPLRL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isPLRR, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isPLRR)
                            @Html.ValidationMessageFor(model => model.isPLRR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isCPLF, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isCPLF)
                            @Html.ValidationMessageFor(model => model.isCPLF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isCPRF, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isCPRF)
                            @Html.ValidationMessageFor(model => model.isCPRF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isCPLR, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isCPLR)
                            @Html.ValidationMessageFor(model => model.isCPLR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isCPRR, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isCPRR)
                            @Html.ValidationMessageFor(model => model.isCPRR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isPalpebralL, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isPalpebralL)
                            @Html.ValidationMessageFor(model => model.isPalpebralL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isPalpebralR, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isPalpebralR)
                            @Html.ValidationMessageFor(model => model.isPalpebralR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Abdomen</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isAbdomenNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isAbdomenNormal)
                            @Html.ValidationMessageFor(model => model.isAbdomenNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isAbnormalMass, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isAbnormalMass)
                            @Html.ValidationMessageFor(model => model.isAbnormalMass, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isAbdomenPainful, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isAbdomenPainful)
                            @Html.ValidationMessageFor(model => model.isAbdomenPainful, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isBloated, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isBloated)
                            @Html.ValidationMessageFor(model => model.isBloated, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isEnlarged, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isEnlarged)
                            @Html.ValidationMessageFor(model => model.isEnlarged, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isFluid, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isFluid)
                            @Html.ValidationMessageFor(model => model.isFluid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isHernia, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isHernia)
                            @Html.ValidationMessageFor(model => model.isHernia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Urogenital System</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isUrogenitalNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isUrogenitalNormal)
                            @Html.ValidationMessageFor(model => model.isUrogenitalNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isUrogenAbnormalUrination, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isUrogenAbnormalUrination)
                            @Html.ValidationMessageFor(model => model.isUrogenAbnormalUrination, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isGenitalDischarge, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isGenitalDischarge)
                            @Html.ValidationMessageFor(model => model.isGenitalDischarge, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isAnalSacs, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isAnalSacs)
                            @Html.ValidationMessageFor(model => model.isAnalSacs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isRectal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isRectal)
                            @Html.ValidationMessageFor(model => model.isRectal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isMammaryTumors, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isMammaryTumors)
                            @Html.ValidationMessageFor(model => model.isMammaryTumors, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isAbnormalTesticles, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isAbnormalTesticles)
                            @Html.ValidationMessageFor(model => model.isAbnormalTesticles, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isBloodSeen, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isBloodSeen)
                            @Html.ValidationMessageFor(model => model.isBloodSeen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Musculoskeletal</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isMusculoskeletalNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isMusculoskeletalNormal)
                            @Html.ValidationMessageFor(model => model.isMusculoskeletalNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isJointProblems, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isJointProblems)
                            @Html.ValidationMessageFor(model => model.isJointProblems, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isNailProblems, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isNailProblems)
                            @Html.ValidationMessageFor(model => model.isNailProblems, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isLamenessLF, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isLamenessLF)
                            @Html.ValidationMessageFor(model => model.isLamenessLF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isLamenessRF, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isLamenessRF)
                            @Html.ValidationMessageFor(model => model.isLamenessRF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isLamenessLR, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isLamenessLR)
                            @Html.ValidationMessageFor(model => model.isLamenessLR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isLamenessRR, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isLamenessRR)
                            @Html.ValidationMessageFor(model => model.isLamenessRR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isLigaments, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isLigaments)
                            @Html.ValidationMessageFor(model => model.isLigaments, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Lungs</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isLungNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isLungNormal)
                            @Html.ValidationMessageFor(model => model.isLungNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isBreathingDifficulty, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isBreathingDifficulty)
                            @Html.ValidationMessageFor(model => model.isBreathingDifficulty, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isRapidRespiration, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isRapidRespiration)
                            @Html.ValidationMessageFor(model => model.isRapidRespiration, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isTrachealPinchPositive, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isTrachealPinchPositive)
                            @Html.ValidationMessageFor(model => model.isTrachealPinchPositive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isTrachealPinchNegative, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isTrachealPinchNegative)
                            @Html.ValidationMessageFor(model => model.isTrachealPinchNegative, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isCongestion, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isCongestion)
                            @Html.ValidationMessageFor(model => model.isCongestion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isAbnormalSound, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isAbnormalSound)
                            @Html.ValidationMessageFor(model => model.isAbnormalSound, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="checkbox-mainlabel">
                    <h4>Heart</h4>
                </div>
                <div class="check-box">
                    @Html.LabelFor(model => model.isHeartNormal, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isHeartNormal)
                            @Html.ValidationMessageFor(model => model.isHeartNormal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isMurMur, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isMurMur)
                            @Html.ValidationMessageFor(model => model.isMurMur, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isFast, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isFast)
                            @Html.ValidationMessageFor(model => model.isFast, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isSlow, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isSlow)
                            @Html.ValidationMessageFor(model => model.isSlow, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="check-box">
                    @Html.LabelFor(model => model.isMuffled, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.isMuffled)
                            @Html.ValidationMessageFor(model => model.isMuffled, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-container" style="border: none; padding: 15px;">
                <div style="margin-right: 20px;">
                    <a href='@Url.Action("Index", "Home")' class="btn btn-warning">Cancel</a>
                    @*@Html.ActionLink("Back to List", "Index")*@
                </div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
