@model test.Models.VisitSummary

@{ ViewBag.Title = "Index"; }
<h2>@ViewBag.Name</h2>
<style>
    .topnav {
        overflow: hidden;
        background-color: #333;
        height: 40px;
        max-width: 95%;
        margin: auto;
    }

        .topnav > ul {
            list-style: none;
            padding-inline-start: unset;
        }

            .topnav > ul > li {
                float: left;
                color: #9d9d9d;
                text-align: center;
                padding: 10px 60px;
                text-decoration: none;
                font-size: 15px;
            }

                .topnav > ul > li > a {
                    color: whitesmoke;
                    text-decoration: none;
                }

        .topnav ul li:hover {
            background-color: grey;
            color: black;
        }

        .topnav ul li.active {
            background-color: #6495ed;
            color: white;
        }

    .flex-row {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        border: ridge;
        margin: 20px;
    }

    h4 {
        margin-left: 250px;
        text-decoration: none;
    }
</style>
@if (Session["isSummary"] == null)
{
<div class="form-horizontal">
    <div class="topnav">
        <ul>
            <li>@Html.ActionLink("Services", "Index", "VisitServices")</li>
            <li>@Html.ActionLink("Medications", "Index", "VisitMedications")</li>
            <li>@Html.ActionLink("Team", "Index", "VisitEmployees")</li>
            <li class="active">@Html.ActionLink("Summary", "Index", "VisitSummary")</li>
        </ul>
    </div>
</div> }
            else
            {
<p style="margin-left: 25px; font-size:15px">
    <button class="btn-primary" onclick="location.href='@Url.Action("PetVisits", "TVisits",  new { id = Model.intPetID })';return false;">
        <i class="fas fa-arrow-left"></i>  Back
    </button>
</p>}

<div class="body-content">
    @if (Session["isSummary"] != null)
     {
        <h4 style = "margin-left: 60px; padding-top: 10px" >
         Visit Summary
         </h4 >
        <hr style = "margin:5px; margin-bottom: 15px" />
     }
    <div class="form-horizontal">
        <div class="flex-container" style="border: none;">
            <div class="flex-row">
                <div class="form-group-inline">
                    @Html.LabelFor(model => model.strOwnerName, "Client", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.strOwnerName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "width:300px" } })
                    </div>
                </div>

                <div class="form-group-inline">
                    @Html.LabelFor(model => model.strAddress, "Address", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.strAddress, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "width:300px" } })
                    </div>
                </div>

                <div class="form-group-inline">
                    @Html.LabelFor(model => model.strPetName, "Patient", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.strPetName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "width:300px" } })
                    </div>
                </div>

                <div class="form-group-inline">
                    @Html.LabelFor(model => model.strPetNumber, "Pet Number", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.strPetNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "width:300px" } })
                    </div>
                </div>
            </div>

            <div class="flex-row">
                <div class="form-group-inline">
                    @Html.LabelFor(model => model.intOwnerNumber, "Client No.", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.intOwnerNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "width:300px" } })
                    </div>
                </div>

                <div class="form-group-inline">
                    @Html.LabelFor(model => model.strPhoneNumber, "Contact No.", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.strPhoneNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "width:300px" } })
                    </div>
                </div>

                <div class="form-group-inline">
                    @Html.LabelFor(model => model.dtmOfVisit, "Date of Visit", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dtmOfVisit, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "width:300px" } })
                    </div>
                </div>

                <div class="form-group-inline">
                    @Html.LabelFor(model => model.strDoctor, "Doctor", new { htmlAttributes = new { @class = "control-label col-md-2" }, style = "font-size: 16px; font-weight: 700; padding-left:  15px;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.strDoctor, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "width:300px" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-container" style="border: none; padding: 0px; margin: 0px;">
            <div style="text-align: center; width: 50%;">
                <h4 style="margin:auto;">Services</h4>
            </div>
            <div style="text-align: center;  width: 50%;">
                <h4 style="margin:auto;">Medications</h4>
            </div>
        </div>

        <div class="form-horizontal" style="display: flex;">
            <div class="flex-container">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Service")
                        </th>
                        <th>
                            @Html.DisplayName("Price")
                        </th>
                        <th>
                            @Html.DisplayName("Details")
                        </th>
                    </tr>

                    @foreach (TVisitService service in Model.PetVisitServices)
                    {
        <tr>
            <td>
                @service.TService.strServiceDesc
            </td>
            <td>
                $ @Math.Round(service.TService.dblPrice, 2)
            </td>
            @if (service.intServiceID == 7)
            {
                <td style="white-space:nowrap">
                    <a style="color:#5cb85c; padding-left: 15px" href='@Url.Action("Details", "THealthExam", new { visitServiceId = service.intVisitServiceID })' ;return false;>  <i class="far fa-eye"></i></a>
                </td> 
            }
            else if (service.TService.intServiceTypeID == 1)
            {
                <td style="white-space:nowrap">
                    <a style="color:#5cb85c; padding-left: 15px" href='@Url.Action("Details", "TVaccinations", new { visitServiceId = service.intVisitServiceID })' ;return false;>  <i class="far fa-eye"></i></a>
                </td> 
            }
            else
            {
                <td style="white-space:nowrap">
                    <a style="color:dimgray; padding-left: 15px;" ;return false;>  <i class="fas fa-eye"></i></a>
                </td>
            }
        </tr>}
                    <tr>
                        <td style="font-weight: 800">
                            Total
                        </td>
                        <td>
                        </td>
                        <td style="font-weight: 800">
                            @ViewBag.ServicesTotal
                        </td>
                    </tr>

                </table>
            </div>
            <div class="flex-container">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Medication")
                        </th>
                        <th>
                            @Html.DisplayName("Quantity")
                        </th>
                        <th>
                            @Html.DisplayName("Price")
                        </th>
                    </tr>

                    @foreach (TVisitMedication medication in Model.PetVisitMedications)
                    {
        <tr>
            <td>
                @medication.TMedication.strMedicationName
            </td>
            <td>
                @medication.intQuantity
            </td>
            <td>
                $ @Math.Round(medication.TMedication.dblPrice * medication.intQuantity, 2)
            </td>
        </tr>}
                    <tr>
                        <td style="font-weight: 800">
                            Total
                        </td>
                        <td></td>
                        <td style="font-weight: 800">
                            @ViewBag.MedicationsTotal
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    @if (Session["isSummary"] == null)
    {
<div class="flex-container" style="margin: 0px; border:none; padding: 0px 0px 20px 22px">
    <div class="col-md-offset-2" style="margin-left:inherit; margin-right:10px">
        <button class="btn-primary" onclick='window.location.href = "@Url.Action("Index", "VisitEmployees", routeValues: null)"'>
            Previous
        </button>
    </div>
    <div class="col-md-offset-2" style="margin-left:inherit">
        <button class="btn-success" onclick="location.href='@Url.Action("PetVisits", "TVisits", new { id = Model.intPetID})'">
            Save
        </button>
    </div>
</div>}

</div>

