@model test.TPet

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>
<p style="margin-left: 25px; font-size:15px">
    <button class="btn-success" onclick="location.href='@Url.Action("Create", "TVisits", new { id = Model.intPetID })';return false;">
         Create Visit
    </button>
</p>

<style>
	dt {
		white-space: nowrap
	}

	dd {
		white-space: nowrap
	}
</style>

<div class="body-content">

	<div class="form-horizontal">
		<div>
			<h4 style="text-decoration: none; padding-top: 10px; padding-left: 10px">
				Pet Details
				<a style="color:#f0ad4e; padding-left: 15px" href='@Url.Action("Edit", "TPets", new { id = Model.intPetID })' ;return false;>  <i class="fas fa-pencil-alt"></i></a>
			</h4>
			<hr style="margin:5px; margin-bottom: 15px" />
			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayName("Tag #")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strPetNumber)
				</dd>

				<dt>
					@Html.DisplayName("Microchip ID")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strMicrochipID)
				</dd>

				<dt>
					@Html.DisplayName("Pet Name")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strPetName)
				</dd>

				<dt>
					@Html.DisplayName("Pet Type")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.TPetType.strPetType)
				</dd>

				<dt>
					@Html.DisplayName("Gender")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.TGender.strGender)
				</dd>

				<dt>
					@Html.DisplayName("Breed")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.TBreed.strBreedName)
				</dd>

				<dt>
					@Html.DisplayName("Birthdate")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.dtmDateofBirth)
				</dd>

				<dt>
					@Html.DisplayName("Weight")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.dblWeight)
					lbs
				</dd>

				<dt>
					@Html.DisplayName("Blind")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isBlind)
				</dd>

				<dt>
					@Html.DisplayName("Deaf")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isDeaf)
				</dd>

				<dt>
					@Html.DisplayName("Aggressive")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isAggressive)
				</dd>

				<dt>
					@Html.DisplayName("Deceased")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isDeceased)
				</dd>

				<dt>
					@Html.DisplayName("Allergies")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isAllergic)
				</dd>

				<dt>
					@Html.DisplayName("Color")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strColor)
				</dd>

				<dt>
					@Html.DisplayName("Notes")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strNotes)
				</dd>

				<dt>
					@Html.DisplayName("Owner")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.TOwner.strFirstName)
					@Html.DisplayFor(model => model.TOwner.strLastName)
				</dd>

			</dl>
			<p>
				<button class="btn-warning" onclick="location.href='@Url.Action("Edit", "TPets", new { id = Model.intPetID })';return false;"><i class="fas fa-pencil-alt"></i> Edit</button>
			</p>
		</div>
	</div>
</div>
