@model test.TMethod

@{
    ViewBag.Title = "Edit";
}

<h2>Medication Methods</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="body-content">

	<div class="form-horizontal">

		<h4>Edit Method Type</h4>
		<hr />

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.intMethodID)

		<div class="form-group row">
			@Html.LabelFor(model => model.strMethod, "Form", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.strMethod, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.strMethod, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group row">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
</div>
}


