@model IEnumerable<test.TVisitMedication>

@{
    ViewBag.Title = "PetMedications";
}

<h2><a href="@Url.Action("Details", "TPets", new {  id = Session["intPetID"]})">@ViewBag.PetName</a></h2>
<div style="display:flex; flex-wrap:wrap;">
    <p style="margin-left: 25px; font-size:15px">

        <button class="btn-primary" onclick="location.href='@Url.Action("Index", "TPets")';return false;"><i class="fas fa-arrow-left"></i> Pet List</button>
    </p>
</div>

<style>
    h2 {
        text-decoration: none;
    }

        h2 > a {
            color: black;
            text-decoration: none;
        }

            h2 > a:hover, a:focus {
                color: cornflowerblue;
                text-decoration: none;
            }

    dt {
        white-space: nowrap
    }

    dd {
        white-space: nowrap
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        height: 40px;
        max-width: 95%;
        margin: auto;
    }

        .topnav > ul {
            list-style: none;
            padding-inline-start: unset;
        }

            .topnav > ul > li {
                float: left;
                color: #9d9d9d;
                text-align: center;
                padding: 10px 60px;
                text-decoration: none;
                font-size: 15px;
            }

                .topnav > ul > li > a {
                    color: whitesmoke;
                    text-decoration: none;
                }

        .topnav ul li:hover {
            background-color: grey;
            color: black;
        }

        .topnav ul li.active {
            background-color: #6495ed;
            color: white;
        }
</style>

<div class="form-horizontal">
    <div class="topnav">
        <ul>
            <li>@Html.ActionLink("General", "Details", "TPets", new { id = Session["intPetID"] }, null)</li>
            <li>@Html.ActionLink("Visits", "PetVisits", "TVisits", new { id = Session["intPetID"] }, null)</li>
            <li>@Html.ActionLink("Vaccinations", "PetVaccinations", "TVaccinations", new { id = Session["intPetID"] }, null)</li>
            <li class="active">@Html.ActionLink("Medications", "PetMedications", "TVisitMedications", new { id = Session["intPetID"] }, null)</li>
        </ul>
    </div>
</div>

<div class="body-content">
    <div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Date Prescribed")
                </th>
                <th>
                    @Html.DisplayName("Medication")
                </th>
                <th>
                    @Html.DisplayName("Quantity")
                </th>
                <th style="white-space:nowrap">
                    @Html.DisplayName("Details")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.dtmDatePrescribed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strMedicationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.intQuantity)
                    </td>
                    <td style="white-space:nowrap">

                        <a style="color:#5cb85c; padding-left: 15px" href='@Url.Action("PetMedicationDetails", "TVisitMedications", new { id = item.intVisitMedicationID })' ;return false;>  <i class="far fa-eye"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
