@*@model IEnumerable<test.TServiceType>


	@{
		ViewBag.Title = "Index";
	}

	<h2>Index</h2>

	<p>
			<button class="modal-btn">Add New</button>

			<div class="modal-bg">
				<div class="modal">
					<h2>Add a New Visit Type</h2>
					<label for="type"> Type: </label>
					<input class="text" name="text">
					<button>Add</button>
					<span class="modal-close">X</span>
				</div>
			</div>

	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.strServiceType)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.strServiceType)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.intServiceTypeID }) |
					@Html.ActionLink("Details", "Details", new { id = item.intServiceTypeID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.intServiceTypeID })
				</td>
			</tr>
		}

	</table>

	<script src="~/Content/modal.js"></script>*@


@{
	ViewBag.Title = "List Of Services Provided";
}

<div class="body-content">


	<h2 style="background-color: white;color: black; text-align: center; font-style: oblique">Report Of Service Types Offered</h2>


	@Html.ActionLink("Create New", "Save", "TServiceTypes", null, new { @style = "font-size:22px;", @class = "popup" })



	<div id="update_panel">
		@* This will be formatted and pulled from the JS file. *@
	</div>

	@* Add Jquery UI Css *@
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}

		.ui-widget-header {
			border: none !important;
			background: none !important;
			color: #222222;
			font-weight: bold;
		}

		.ui-state-default, .ui-state-hover {
			border: none !important;
			background: none !important;
		}

		.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
			float: none;
		}

		.ui-dialog {
			webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
			box-shadow: 0 5px 15px rgba(0,0,0,.5);
		}

		.ui-dialog-buttonset {
			position: inherit;
		}

		h2 {
			margin-top: 0px;
			font-size: 30px;
		}

		/*.success {
			color: green;
		}

		.failed {
			color: red;
		}*/
	</style>

</div>

@section Scripts{
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="~/Scripts/ServiceType.js"></script>
	}
