@model test.Models.VisitVaccination

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Name</h2>


<p style="margin-left: 25px; font-size:15px">
    <button class="btn-primary" onclick="location.href='@Url.Action("PetVaccinations", "TVaccinations", new {  id = Session["intPetID"]})';return false;">
        <i class="fas fa-arrow-left"></i>  Back
    </button>
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="body-content">
        <div class="form-horizontal">
            <h4 style="text-decoration: none; padding-top: 10px; padding-left: 2px">
                Edit Vaccination
            </h4>
            <hr style="margin:5px; margin-bottom: 15px" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.intServiceId)
            <div class="form-group row">
                @Html.LabelFor(model => model.strServiceName, "Service Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.strServiceName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.strServiceName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.dtmDateofVaccination, "Date of Vaccination", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.dtmDateofVaccination, new { htmlAttributes = new { @class = "datepicker", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.dtmDateofVaccination, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.dtmDateOfExpiration, "Date of Expiration", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.dtmDateOfExpiration, new { htmlAttributes = new { @class = "datepicker", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.dtmDateOfExpiration, "", new { @class = "text-danger" })
                </div>
            </div>



            @if (Session["isRabiesVaccine"] != null)
            {
                <div class="form-group row">
                    @Html.LabelFor(model => model.strRabiesNumber, "Rabies Number", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.strRabiesNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.strRabiesNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            <div class="form-group row">
                @Html.LabelFor(model => model.strVaccineNotes, "Notes", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.strVaccineNotes, new { htmlAttributes = new { @class = "form-control" }, style = "width:100%; height: 170px;" })
                    @Html.ValidationMessageFor(model => model.strVaccineNotes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn-success" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row" style="visibility: hidden">
        @*@Html.LabelFor(model => model.intVisitServiceId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">*@
        @Html.EditorFor(model => model.intVisitServiceId, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.intVisitServiceId, "", new { @class = "text-danger" })*@
        @*</div>*@
    </div>
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy",
                changemonth: true,
                changeyear: true
            });
        });
    </script>
}
