
@{
	ViewBag.Title = "Help";
}


<h2>@ViewBag.Title</h2>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" style="margin: 0px">
			<div class="navbar-header">

				<a style="display:inline-block; text-align:left; vertical-align:middle; color:cornflowerblue; text-decoration:none; font-family:Calibri; font-size: 25px;  padding-top: 5px; padding-left: 7px; padding-right:15px">Capstone Pets</a>


				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				@*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "classname" })*@
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@*<li><a style="display:block; text-align:left; color:cornflowerblue; font-family:Calibri; font-size: 25px">Capstone Pets</a></li>*@
					<li>@Html.ActionLink("Home", "Index", "OwnerHome")</li>
					<li>@Html.ActionLink("Help", "Help", "OwnerHome")</li>
					<li>@Html.ActionLink("About", "About", "OwnerHome")</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>@Html.ActionLink("Sign Out", "Login", "Home")</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<p>For any assistance please contact the developers. Their contact information is listed in the About Us link.</p>


