@model test.TVisitMedication

@{
    ViewBag.Title = "AddPetMedication";
}

<h2>@ViewBag.Name</h2>

<p style="margin-left: 25px; font-size:15px">
    <button class="btn-primary" onclick="location.href='@Url.Action("Index", "VisitMedications")';return false;">
        <i class="fas fa-arrow-left"></i>  Back
    </button>
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="body-content">
        <div class="form-horizontal">
            <h4 style="text-decoration: none; padding-top: 10px; padding-left: 2px">
                Add Medication
            </h4>
            <hr style="margin:5px; margin-bottom: 15px" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.intVisitMedicationID)

            <div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.intVisitMedicationID, "intVisitID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.intVisitMedicationID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.intVisitMedicationID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.intVisitID, "intVisitID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.intVisitID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.intVisitID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.intMedicationID, "Medication", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("intMedicationID", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    @*@Html.EditorFor(model => model.intMedicationID, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })*@
                    @Html.ValidationMessageFor(model => model.intMedicationID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.dtmDatePrescribed, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.dtmDatePrescribed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dtmDatePrescribed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.intQuantity, "Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.intQuantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.intQuantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.strMedicationNotes, "Notes", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.strMedicationNotes, new { htmlAttributes = new { @class = "form-control" }, style = "width:100%; height: 170px;" })
                    @Html.ValidationMessageFor(model => model.strMedicationNotes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn-success" />
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
