@model test.TVisit

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.PetName</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="body-content">
        <div class="form-horizontal">
            <div class="form-horizontal">
                <h4 style="text-decoration: none; padding-top: 10px; padding-left: 10px">
                    Add a Visit
                </h4>
                <hr style="margin:5px; margin-bottom: 15px" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="flex-container">
                    <p>
                        Pet Name: @ViewBag.PetName
                        <br />
                        ID: @ViewBag.PetID
                        <br />
                        Owner: @ViewBag.OwnerName
                    </p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.intVisitReasonID, "Reason for Visit", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @Html.DropDownList("intVisitReasonID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.intVisitReasonID, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.dtmDateOfVist, "Date of Visit", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dtmDateOfVist, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dtmDateOfVist, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-left:10%;">
                        <input type="submit" value="Create" class="btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
