@model test.TVisit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p style="margin-left: 25px; font-size:15px">
    <button class="btn-primary" onclick="location.href='@Url.Action("PetVisits", "TVisits", new { id = Session["intPetID"] })';return false;"><i class="fas fa-arrow-left"></i> Pet Visits</button>
</p>

<div class="body-content">
    <div class="form-group">
        <h3>Are you sure you want to delete this?</h3>
        <hr style="margin:5px; margin-bottom: 15px" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Pet Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TPet.strPetName)
            </dd>

            <dt>
                @Html.DisplayName("Date of Visit")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dtmDateOfVist)
            </dd>

            <dt>
                @Html.DisplayName("Visit Reason")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TVisitReason.strVisitReason)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn-danger" />
                <button class="btn-warning" onclick="location.href='@Url.Action("PetVisits", "TVisits", new { id = Session["intPetID"] })';return false;">
                    <i class="fas fa-times"></i>  Cancel
                </button>
            </div>
        }
    </div>
</div>
