@model test.TMedication

@{
    ViewBag.Title = "Details";
}

<h2>Medications</h2>
<p style="margin-left: 25px; font-size:15px">

    <button class="btn-primary" onclick="location.href='@Url.Action("Index", "TMedications")';return false;"><i class="fas fa-arrow-left"></i> Back To List</button>
</p>

<div class="body-content">
    <h4 style="text-decoration: none; padding-top: 10px; padding-left: 10px">
        Medication Details
        <a style="color:#f0ad4e; padding-left: 15px" href='@Url.Action("Edit", "TMedications", new { id = Model.intMedicationID })' ;return false;>  <i class="fas fa-pencil-alt"></i></a>

    </h4>
    <hr style="margin:5px; margin-bottom: 15px" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Medication Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMedicationName)
        </dd>

        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMedicationDesc)
        </dd>

        <dt>
            @Html.DisplayName("Cost")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dblCost)
        </dd>

        <dt>
            @Html.DisplayName("Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dblPrice)
        </dd>

        <dt>
            @Html.DisplayName("Quantity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intQuantity)
        </dd>

        <dt>
            @Html.DisplayName("Method")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TMethod.strMethod)
        </dd>

        <dt>
            @Html.DisplayName("Notes")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strNotes)
        </dd>

    </dl>
    <p>
        <button class="btn-warning" onclick="location.href='@Url.Action("Edit", "TMedications", new { id = Model.intMedicationID })';return false;"><i class="fas fa-pencil-alt"></i> Edit</button>
    </p>
</div>
