@model test.TMedication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TMedication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strMedicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMedicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMedicationDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMedicationDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dblCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dblCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dblPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dblPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intMethodID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intMethodID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.intMedicationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
