@model IEnumerable<test.TUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.strUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRole.strRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRole.strRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.intUserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.intUserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.intUserID })
        </td>
    </tr>
}

</table>
